[submodule "vendor/tcc"]
	path = vendor/tcc
	url = https://repo.or.cz/r/tinycc.git
	branch = mob
[submodule "vendor/qbe"]
	path = vendor/qbe
	url = https://github.com/abit-foggy/qbe.git
	branch = master
